.span {
  font-family: "Sanchez", serif;
  font-size: 30px;
  margin-top: 0;
}
.filteredPage {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
/* ///////////////////////  */
.subStore {
  display: flex;
  justify-content: flex-end;
  /* height: 120px; */
}
.substore-card {
  margin: 10px;
  margin-top: 70px;
  height: auto;
  width: 600px;
  background-color: rgb(255, 222, 173);
  position: absolute;
  z-index: 10;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}
.pizza-card {
  height: 30px;
  width: 60%;
  padding: 0;
  margin: 0;
}
